<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <pages enableEventValidation="false"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Anasayfa.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <add name="veritabaniYolu" connectionString="Data Source=79.123.231.145,7857; Network Library=DBMSSOCN;Initial Catalog=2016_2017_gunduz;User Id=intProg;Password=1234;"
      providerName="System.Data.SqlClient" />
    <add name="2016_2017_gunduzConnectionString" connectionString="Data Source=79.123.231.145,7857;Initial Catalog=2016_2017_gunduz;User ID=intProg;Password=1234;Network Library=dbmssocn"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
